button {
  width: 80%;
  height: 100%;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #444;
  margin: 5px auto;
  padding: 5px 0;
  text-align: center;
  
  transition: width 1s;
}

button:hover {
  background-color: lightblue;
  transition: background-color 0.3s;
}

input {
  height: 3vh;
  border: none;
  border-radius: 5px;
  text-align: center;
  
  transition: width 1s;  
}

input:focus {
  outline: none;
}

form {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  transition: width 1s;  
}

.mq-text {
  display: inline-block;
  margin: auto;
}

.mq-icon {
  display: none;
  margin: auto;
}

@media screen and (min-width: 300px) {
  form {
    height: 3vh;
    flex-direction: row;
    border-radius: 10px;
    padding: 3px;
    background-color: gainsboro;
    align-items: stretch;
    align-content: stretch;
  }

  input {
    height: initial;
    flex-grow: 2;    
    border-radius: 5px 0 0 5px;
    text-align: left;
    padding-left: 10px;
  }

  button {
    border-radius: 0 5px 5px 0;
    margin: 0 0 0 0;
    padding: inherit;
    width: 25%;
  }

  .mq-icon {
    display: inline-block;
    font-size: 1.3rem;
  }
  
  .mq-text {
    display: none;
  }  
}

@media screen and (min-width: 660px) {
  .mq-text {
    display: inline-block;
  }

  .mq-icon {
    display: none;
  }  
}

@media screen and (min-width: 1024px) {
  form {
    width: 50vw;
    height: 4vh;
  }

  input {
    height: 4vh;
  }
}


